<div>
  <svg viewBox="-450 -100 1000 1200">
    <defs>
      <style>
        .cls-box {
          stroke: 1px solid block;
          fill: rgba(200,255,255,.7);
        }
        .assc {
          stroke: red;
          stroke-width: 1;
        }

        .dg { stroke: blue; }
        .cls-box:hover ~ .dg2 { stroke: blue; }
      </style>
    </defs>
    <g id="app">

      <g v-for="r in rect">
        <text :x="r.X" :y="r.Y">{{ r.name }} - {{ r.ew }}</text>
        <rect class="cls-box" stroke="black"
              :x="r.X" :y="r.Y"
              :width="r.w" :height="r.h"></rect>
        <line v-if="r.parent" class="assc"
              :x1="r.x" :y1="r.Y"
              :x2="r.parent.x" :y2="r.parent.Y + r.parent.h"></line>

        <line class="dg"
              :x1="r.x - r.ew/2" :y1="r.y"
              :x2="r.x + r.ew/2" :y2="r.y"></line>
        <line class="dg2"
              :x1="r.x - r.ew/2" :y1="0"
              :x2="r.x - r.ew/2" :y2="1000"></line>
        <line class="dg2"
              :x1="r.x + r.ew/2" :y1="0"
              :x2="r.x + r.ew/2" :y2="1000"></line>
      </g>

    </g>
  </svg>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="test.js"></script>
