<div>
  <svg viewBox="-500 0 1000 1000">
    <defs>
      <style>
        .cls-box {
          stroke: 1px solid block;
          fill: rgba(200,255,255,.7);
        }
        .assc {
          stroke: red;
          stroke-width: 1;
        }
      </style>
    </defs>
    <circle x="0" y="0" r="1"  fill="rgba(255,0,0,.5)"></circle>
    <circle x="0" y="0" r="10" fill="rgba(255,0,0,.5)"></circle>
    <circle x="0" y="0" r="50" fill="rgba(255,0,0,.5)"></circle>
    <g id="app">

      <g v-for="r in rect">
        <rect class="cls-box" :x="r.X" :y="r.Y" :width="r.w" :height="r.h" stroke="black">
          <text>{{ r.name }}</text>
        </rect>
        <!--
          <line class="assc" v-if="r.parent" :x1="r.x" :y1="r.y" :x2="r.parent.x" :y2="r.parent.y"></line>
        -->
        <line class="assc" v-if="r.parent" :x1="r.x" :y1="r.Y" :x2="r.parent.x" :y2="r.parent.Y + r.parent.h"></line>
      </g>

    </g>
  </svg>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="test.js"></script>
