<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="css/home.css" />
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
          integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
          crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="js/reader.js"></script>
  <script src="js/model.js"></script>
  <script src="js/parser.js"></script>
  <script src="js/drawer.js"></script>
  <script src="js/app.js" defer></script>

  <title>CS5351 - Group 3</title>
</head>

<body>

  <form onsubmit="return false" id="app">
    <!-- HEADER -->
    <header>
      <span>UML Diagram Generator [CS5351 - Group 3]</span>
    </header>

    <!-- Content -->
    <main class="container">
      <section id="sec-input" class="left">
        <!-- input area -->
        <h4>Input your script:</h4>
        <div id="f-txt" class="frame-layout">
          <textarea v-model="codestr" @input="input()"
                    :placeholder="placeholder"></textarea>
          <button class="btn-clear" type="reset"></button>
        </div>
        <!-- error message -->
        <h4>Error Message:</h4>
        <div class="err-msg">
          {{ errMsg }}
        </div>
      </section>

      <section id="sec-output" class="right">
        <span v-if="!graph.length">
          No Graph
        </span>
        <svg v-else viewBox="0 0 1 1"
             @mousewheel="wheelHandle($event)"
             @mousedown="mouseDown($event)">
          <g>
            <g v-for="r in graph">
              <rect class="cls-box" style="fill:white;stroke-width:1;stroke:black;" :x="r.X" :y="r.Y" :width="r.w"
                :height="r.h"></rect>

              <g>
                <text class="cls-name" v-for="(d, idx) in r.name"
                      :x="r.X + r.w / 2" :y="r.Y + (idx + 1) * 20" text-anchor="middle">
                      {{ d }}</text>
              </g>

              <line class="cls-line" stroke="black"
                    :x1="r.X" :y1="r.ClassNameSeparatorY"
                    :x2="r.X + r.w" :y2="r.ClassNameSeparatorY" />

              <g>
                <text v-for="(d, idx) in r.attrs"
                      :x="r.X + 10" :y="r.ClassNameSeparatorY + (idx + 1) * 20">
                  {{ d }}</text>
              </g>

              <line class="cls-line" stroke="black"
                    :x1="r.X" :y1="r.AttributesSeparatorY"
                    :x2="r.X + r.w" :y2="r.AttributesSeparatorY" />

              <g>
                <text v-for="(d, idx) in r.methods"
                      :x="r.X + 10" :y="r.AttributesSeparatorY + (idx + 1) * 20">
                  {{ d }}</text>
              </g>

            <path v-if="r.parent" class="inhr assc" style="fill:white;stroke-width:2;stroke:black;"
                  :d="r.ParentDrawPath"></path>

            <g v-for="i in r.interfaces" class="impl assc">
              <path class="tail"  :d="r.InterfaceDrawPathTail(i)"  style="fill:white;stroke-width:2;stroke:black;stroke-dasharray:4;" ></path>
              <path class="arrow" :d="r.InterfaceDrawPathArrow(i)" style="fill:white;stroke-width:2;stroke:black;" ></path>
            </g>
          </g>

        </g>
      </svg>

      </section>
    </main>
    <!-- Footer -->
    <footer>
      <div>
        <span>Image</span>
        <button onclick="imgPrint()">Print</button>
        <!-- <button onclick="imgEmail()">Email</button> -->
      </div>
      <div>
        <span>Zoom </span>
        <button onclick="svgZoomIn()">In</button>
        <button onclick="svgZoomOut()">Out</button>
      </div>
      <div>
        <span>Move </span>
        <button onclick="svgMove( 0, 10)">Up</button>
        <button onclick="svgMove( 0,-10)">Down</button>
        <button onclick="svgMove(-10,  0)">Left</button>
        <button onclick="svgMove( 10,  0)">Right</button>
      </div>
      <div>
        <button type="reset">Reset</button>
        <button onclick="downloadPNG()">Export PNG</button>
      </div>
    </footer>
  </form>

  <span id="copyright">Developed by CS5351/1920A - Group 3, &copy; 2019</span>

</body>
</html>